.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App {
  background-color: #c2fb11;
}
.header {
background-color: #fbeec1;

}

.content {
  background-color: #fbed7e;
}

.footer {
  background-color: #fbfb3d;
}